:root {
  --color-t: #f7b438;
  --color-t-bright: #fad182;
  --color-t-dark: #69480d;
  --color-t-darkest: #2e1f05;
  --color-t-black: #1b1303;

  /* --color-t: #782812; */
  --color-ct: #00a3ef;
  --color-ct-rgb: 0, 163, 239;
  --color-ct-dark: #1d3d56;
  --color-ct-dark-rgb: 29, 61, 86;
  --color-ct-darkest: #0c1a28;
  --color-ct-darkest-rgb: 12, 26, 40;
  --color-ct-black: #071018;
  /* --color-ct: #29387a; */
  --color-secondary: #3b4856;
  --color-moneys: rgb(228, 175, 0);
  --color-bomb: #f22222;
}
